@import "tailwindcss";

/* Tema blanco fijo */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
}

/* Para que inputs/selects/botones hereden la fuente del body */
input,
button,
select,
textarea {
  font: inherit;
}

/* Si quieres que TODO (incluyendo lo que tenga font-mono) use Sublima */
.font-mono,
code,
pre,
kbd,
samp {
  font-family: inherit !important;
}

/* html5-qrcode video/canvas fit (evita preview negro por estilos) */
.qr-wrap video,
#qr-reader video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.qr-wrap canvas,
#qr-reader canvas {
  width: 100% !important;
  height: 100% !important;
}

